:root{
    --borderLines: 3px solid grey;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}

.upperSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
    gap: 2rem;

}
.playerOne,
.playerTwo,
.displayTurn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 50vw;
    text-align: center;
}

.gameBoard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    width: 20rem;
}

.upperRows,
.midRows,
.lowerRows{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 20rem;

}

.space0,
.space1,
.space2,
.space3,
.space4,
.space5,
.space6,
.space7,
.space8{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;
    font-size: 6rem;
    cursor: pointer;
}

.space0{
    border-bottom: var(--borderLines);
    border-right: var(--borderLines);
}
.space1{
    border-bottom: var(--borderLines);
    border-right: var(--borderLines);
}
.space2{
    border-bottom: var(--borderLines);
}
.space3{
    border-bottom: var(--borderLines);
    border-right: var(--borderLines);
}
.space4{
    border-bottom: var(--borderLines);
    border-right: var(--borderLines);
}
.space5{
    border-bottom: var(--borderLines);
}
.space6{
    border-right: var(--borderLines);
}
.space7{
    border-right: var(--borderLines);
}
.space8{
    border: none;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100vw;
    gap: 2rem;
}

.resetButton,
.newGameButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 50vw;
    text-align: center;
    cursor: pointer;
}

input[type="button"]{
    height: 2rem;
    width: 10rem;
    font-size: large;
    text-align: center;
    margin-bottom: 1rem;
    border-radius: 5px;
}